<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title>NBA</title>
</head>
<body>

<div>

  <div>
    <th:block sec:authorize="hasRole('ADMIN')">
    <!-- PlayersController.showAdd -->
    <a href="/players/add" class="add-item">
      Add new player
    </a>
    </th:block>
  </div>

  <table>
    <tr>
      <th>  Player Name  </th>
      <th>  Team  </th>
      <th>  Position  </th>
      <th>  Player Age  </th>
      <th>  Points per game  </th>
      <th>  Assists per game  </th>
      <th>  Rebounds per game  </th>
      <th>  Actions  </th>
    </tr>
    <!-- For each reservation you should have one <tr> like below -->
    <tr th:each="pl : ${players}" class="item">
      <td th:text="${pl.getName()}"></td>
      <td th:text="${pl.getTeam()}"></td>
      <td th:text="${pl.getPos()}"></td>
      <td th:text="${pl.getAge()}"></td>
      <td th:text="${pl.getPpg()}"></td>
      <td th:text="${pl.getApg()}"></td>
      <td th:text="${pl.getRpg()}"></td>
      <td>
        <!-- PlayersController.delete -->
        <th:block sec:authorize="hasRole('ADMIN')">
        <form th:action="@{'/players/{id}/delete' (id=${pl.getId()})}" method="post">
          <button type="submit" class="delete-item">Delete</button>
        </form>
        <a th:href="@{'/players/{id}/edit' (id=${pl.getId()})}" th:method="post">Edit</a>
        </th:block>
      </td>


    </tr>
  </table>
</div>
<div>
  <ul id="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>
</body>
</html>